body{
  padding : 0px;
  margin : 0px;
  width : 100%;
  height : 100%;
}
body.black {
  background-color:black;
  color:white;
}
body.white {
  background-color:white;
  color:black;
}
div.wrapper {
  height: 95%;
  margin-left:auto;
  margin-right:auto;
}
div.control {
  height: 100%;
}
.cFixed {
       position: fixed;
       top: 0px;
}
#header {
  border-bottom:1px solid gray;
  padding:20px;
}
#control {
  background-color: grey;
  float:right;
}
