body{
  padding : 0px;
  margin : 0px;
  width : 100%;
  height : 100%;
}
body.black {
  background-color:black;
  color:white;
}
body.white {
  background-color:white;
  color:black;
}
.wrapper {
  margin-left:auto;
  margin-right:auto;
}
header{
  border-bottom:1px solid gray;
  padding:20px;
}
#control {
  float:right;
}
#wrapper {

}
